<!DOCTYPE html>
<html>
  <head>
    <title>TurboStreamDeviseCheck</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
  </head>

  <body>
    <main class="container">
    <nav>
      <ul>
        <li><strong>Tweets App</strong></li>
      </ul>
      <ul>
        <li>
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        <% end %>
        </li>
      </ul>
    </nav>


      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
